@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Mudado de center para flex-start para evitar corte no topo quando o conteúdo é longo */
  padding: 2rem;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
    justify-content: center;
  }

  #app {
    display: flex;
    padding: 0 2rem;
  }
}
